{% extends "admin/base_site.html" %}

{% load adminmedia %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
{% endblock %}

{% block bodyclass %}{% endblock %}

{% block content %}
<div id="content-main">
    <form>
        <fieldset class="module aligned">
            {% for setting in admin_settings %}
                <div class="form-row">
                    <div>
                        {% include setting.template with setting=setting %}
                    </div>
                </div>
            {% endfor %}
        </fieldset>
    </form>
</div>
{% endblock %}