{% extends "admin/base_site.html" %}

{% load adminmedia %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
{% endblock %}

{% block bodyclass %}{% endblock %}

{% block content %}
<div id="content-main">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="module aligned">
            {% for setting in admin_settings %}
                <div class="form-row">
                    <div>
                        {% include setting.setting_object.template with setting=setting %}
                    </div>
                </div>
            {% endfor %}
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="Save" class="default" name="_save">
        </div>
    </form>
</div>
{% endblock %}